<h2 align="left"><%= button_to 'Logout', users_logout_path %></h2><h2 align="right"><%= button_to 'Profile', users_profile_path %></h2>

<h1 align="center">Welcome to Dashboard!</h1>

<%= button_to 'Post', posts_new_path %><%= button_to 'Followers', users_profile_path %><%= button_to 'FriendRequest', users_profile_path %>