<p>
	<strong>Title:</strong>
	<%= @post.title %>
</p>

<p>
	<strong>Body:</strong>
	<%= @post.body %>
</p>

<h2>Comment</h2>
<% @post.comments.each do |com| %>
	<p>
		<strong>Commenter</strong>
		<%= com.commenter %>
	</p>

	<p>
		<strong>Comment</strong>
		<%= com.comment %>
	</p>
	
<%end%>	

    <h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  
   	<p>
    	<%= f.label :commenter %><br>
    	<%= f.text_field :commenter %>
  	</p>
  
  	<p>
    	<%= f.label :comment %><br>
    	<%= f.text_area :comment %>
  	</p>

  	<p>
    	<%= f.submit %>
  	</p>
  	
<% end %>

